name: coreaudio-rs
on: [push, pull_request]
jobs:
  # Run cargo test with default, no and all features.
  macos-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest]
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - name: cargo test
      run: cargo test --verbose
    # TODO: These don't work as of 2020-12-06, but they should.
    # - name: cargo test - no features
    #   run: cargo test --no-default-features --verbose
    # - name: cargo test - all features
    #   run: cargo test --all-features --verbose

  macos-clippy:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: clippy
    - name: cargo clippy
      run: cargo clippy -- -D warnings

  macos-rustfmt:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: rustfmt
    - name: cargo fmt
      run: cargo fmt --all -- --check

  security-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: rustsec/audit-check@v1.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  xcode-builds:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: nightly
        components: rust-src
        targets: "aarch64-apple-ios,aarch64-apple-ios-sim"
    - run: xcodebuild ONLY_ACTIVE_ARCH=NO ARCHS=arm64 -scheme coreaudio-tvos-example     -configuration Debug -derivedDataPath build -sdk appletvsimulator
      working-directory: examples/apple
    - run: xcodebuild ONLY_ACTIVE_ARCH=NO ARCHS=arm64 -scheme coreaudio-ios-example      -configuration Debug -derivedDataPath build -sdk iphonesimulator
      working-directory: examples/apple
    - run: xcodebuild ONLY_ACTIVE_ARCH=NO ARCHS=arm64 -scheme coreaudio-visionos-example -configuration Debug -derivedDataPath build -sdk xrsimulator
      working-directory: examples/apple

  # Build the docs with all features to make sure docs.rs will work.
  macos-docs:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - name: cargo doc - all features
      run: cargo doc --all-features --verbose

  # Publish a new version when pushing to master.
  # Will succeed if the version has been updated, otherwise silently fails.
  cargo-publish:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    env:
      CRATESIO_TOKEN: ${{ secrets.CRATESIO_TOKEN }}
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v6
    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
    - name: cargo publish
      continue-on-error: true
      run: cargo publish --token $CRATESIO_TOKEN
